
body {
    font-family: "Inter Tight Variable", sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}

h1 {
    color: darkblue;
}

p {
    color: darkred;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    border-bottom: 1px solid #ddd;
}

.navbar nav {
    display: flex;
    gap: 2rem;
}

.logo {
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: inherit;
}

.navbar nav a {
    text-decoration: none;
    color: inherit;
}

.navbar nav a.active {
    color: rgb(0, 252, 105);
    font-weight: 700;
}