---
const { logo, slogan } = Astro.props;
const currentPage = Astro.url.pathname;
const links = [
    { href: "/", text: "Hem" },
    { href: "/om-oss", text: "Om oss" },
    { href: "/aktuellt", text: "Aktuellt" },
    { href: "/kontakt", text: "Kontakt" }
];
---

<header class="navbar">

  <a href="/" class="logo">
    {logo}
  </a>

  <nav>
    {
      links.map((link) => (
        <a href={link.href} class={currentPage === link.href ? "active" : ""}>
          {link.text}
        </a>
      ))
    }

  </nav>

</header>